<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gym Member Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='member/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  </head>

  <body class="AU_style">

    <div class="container" id="CompleteUser">
      <aside class="sidebar">
        <h2>ENVGym</h2>
        <ul>
          <li id="sidebar_home" onclick="showTab('home')">Home</li>
          <li id="sidebar_attendance" onclick="showTab('attendance')">Attendance</li>
          <li id="sidebar_profile" onclick="showTab('profile')">My Profile</li>
        </ul>
      </aside>

      <main class="content">
        <!-- HOME -->
        <section id="home" class="tab">
          <div id="welcomeUser">
            <h1 id="welcomeMsg"></h1>
            <h1 id="workoutPlan">Today's Workout Plan</h1>
          </div>
          
          <div class="card">
            <div class="plandetail">
                <p><b>Trainer :</b>
                </p>
                <p  id="trainer">John </p>
            </div>
            <div class="plandetail">
                <p><b>Plan :</b></p>
                <p id="plan">Quaterly</p>
            </div>
            
            
          </div>

          <div class="card2">
            <h3 onclick="toggle('exerciseList')">Your Exercises&nbsp; &nbsp;▼ </h3>
            <ul id="exerciseList" class="hidden">
              
            </ul>
          </div>
        </section>

        <!-- ATTENDANCE -->
        <section id="attendance" class="tab hidden">
          <h1>Attendance</h1>

          <div class="card" id="attendcard">
            <p id="days">0</p>
            <p>days</p>
          </div>

          <div class="card2">
            <h3 onclick="toggle('historyList')">History&nbsp; &nbsp;▼</h3>
            <ul id="historyList" class="hidden"></ul>
          </div>

          <button id="presentBtn" onclick="markPresent()">Mark Present Today</button>
          <!-- <button id="absentBtn" onclick="mark('Absent')">Absent</button> -->
        </section>

        <!-- PROFILE -->
        <section id="profile" class="tab hidden">
          <h1>My Profile</h1>

          <div class="card" id="profileView">
            <p><b>Name:</b> <span id="name">Alex</span></p>
            <p><b>Phone:</b> <span id="phone">1234567890</span></p>
            <p><b>Age:</b> <span id="age">22</span></p>
          </div>
          
          <div class="card hidden" id="profileEdit">
            <input id="nameInput" placeholder="Name" />
            <input id="phoneInput" placeholder="Phone" />
            <input id="ageInput" placeholder="Age" />
            <br />
            <button onclick="saveProfile()">Save</button>
          </div>
           
          <div class="card2">
            <h3 onclick="toggle('paymentList')">Payments ▼</h3>
            <ul id="paymentList" class="hidden">
              
            </ul>
          </div>
           <button class="logout-btn" onclick="logout()">Logout</button>
           <button onclick="editProfile()">Edit Profile</button>
        </section>
      </main>
    </div>

    <div class="AU_container" id="AU_container">

      <h1>Welcome <span id="AU_memberName">Aditya</span> 👋</h1>

      <!-- Trainer Section -->
      <div class="AU_section">
          <h2>Select Your Trainer</h2>
          <div class="AU_card-container" id="AU_trainerContainer">

              <div class="AU_card AU_trainerCard hidden" id="" onclick="AU_selectTrainer(this)">
                  <h3></h3>
                  <p></p>
                  <button>Select</button>
              </div>

          </div>
      </div>

      <!-- Plan Section -->
      <div class="AU_section">
          <h2>Select Your Plan</h2>
          <div class="AU_card-container" id="AU_planContainer">

              <div class="AU_card AU_PlanCard hidden" id="" onclick="AU_selectPlan(this)">
                  <h3></h3>
                  <p></p>
                  <button>Select</button>
              </div>

          </div>
      </div>

      <!-- Proceed Button -->
      <button id="AU_proceedBtn" class="AU_hidden" onclick="AU_showPayment()">Proceed to Payment</button>

      <!-- Payment Section -->
      <div id="AU_paymentSection" class="AU_hidden">
          <h2>Payment</h2>
          <input type="number" id="AU_amount" placeholder="Enter amount">
          <button onclick="AU_makePayment()">Pay</button>
      </div>

    </div>

    <script src="{{ url_for('static', filename='member/script.js') }}"></script>
  </body>
</html>
