body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  box-sizing: border-box;
  background: #0f1928;
  
  color: #e2e8f0;
  font-size: 1.2rem;
}

.container {
  display: flex;
}

.sidebar {
  width: 240px;
  height: 100vh;
  background: linear-gradient(135deg, #0f172a, #020617);
  padding: 2rem;
}

.sidebar h2 {
  padding: 12px;
  color: #38bdf8;
  font-size: 2.5rem;
}

.sidebar ul {
  width: 100%;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sidebar li {
  font-weight: 500;
  height: 30px;
  padding: 12px;
  margin: 0;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}

.sidebar li:hover {
  background: #1e293b;
  color: #38bdf8;
}

.sidebar_li_selected{
  background: #1e293b;
  color: #38bdf8;
}

.content {
  flex: 1;
  padding: 30px;
}

.card {
  height: 15vh;
  cursor: pointer;
  background: #020617;
  border-radius: 14px;
  margin-bottom: 20px;
  box-shadow: 0 0 15px rgba(56, 189, 248, 0.1);
  padding-left: 50px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.card2 {
  height: 300px;
  cursor: pointer;
  background: #020617;
  padding-left: 50px;
  padding-top: 10px;
  border-radius: 14px;
  margin-bottom: 20px;
  box-shadow: 0 0 15px rgba(56, 189, 248, 0.1);
}

#attendcard #days {
  font-size: 3rem;
  font-weight: 600;
  margin: 0;
}

button {
  background: #00ff80;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  color: rgb(15, 36, 18);
  font-weight: bold;
  margin: 10px;
  font-size: 1.2rem;
}

button:disabled {
  background: gray;
  cursor: not-allowed;
}

.hidden {
  display: none;
}

input {
  padding: 8px;
  margin: 5px;
  border-radius: 6px;
  border: none;
}

#days {
  font-size: 2.5rem;
}

.plandetail {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-right: 50px;
}

#welcomeUser {
  display: flex;
  align-items: baseline;
  gap: 2rem;
}

#welcomeUser h1 {
  font-weight: 600;
}

.logout-btn {
  margin-top: 25px;
  padding: 12px 20px;
  background: #ff4d4d;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  color: white;
  transition: 0.2s;
}

.logout-btn:hover {
  background: #e60000;
}

#exerciseList li {
  margin-bottom: 1rem;
}

/* 
_______________________--------------------------------------_____________________________----------------- */

.AU_style {
  background: linear-gradient(135deg, #0f172a, #020617);
  color: #e2e8f0;
}
.AU_container {
  width: 80%;
  margin: auto;
  padding: 5vh 20vh;
  display: flex;
  flex-direction: column;
  gap: 5vh;
}

.AU_section {
  margin-bottom: 5vh;
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.AU_card-container {
  display: flex;
  gap: 5vh;
  flex-wrap: wrap;
}

.AU_card {
  background: #1e293b;
  border: 1px solid #334155;
  padding: 20px;
  border-radius: 12px;
  width: 200px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}

.AU_card:hover {
  transform: translateY(-5px);
}

.AU_card h3 {
  margin: 10px 0;
  font-weight: bold;
}

.AU_card p {
  color: gray;
}

.AU_card button {
  margin-top: 10px;
  padding: 6px 12px;
  border: none;
  background: #38bdf8;
  color: rgb(6, 8, 54);
  border-radius: 6px;
  cursor: pointer;
}

.AU_selected {
  border: 3px solid #38bdf8;
}

#AU_proceedBtn {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  padding: 12px 20px;
  background: #38bdf8;
  color: rgb(6, 8, 54);
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

#AU_paymentSection {
  margin-top: 30px;
}

#AU_paymentSection input {
  padding: 10px;
  width: 200px;
  margin-right: 10px;
  border: 1px solid #334155;
  background: #0f172a;
}
#AU_paymentSection button {
  margin-top: 10px;
  padding: 6px 12px;
  border: none;
  background: #38bdf8;
  color: rgb(6, 8, 54);
  border-radius: 6px;
  cursor: pointer;
}

.AU_hidden {
  display: none;
}

.AU_section h2 {
  font-weight: 400;
  color: #38bdf8;
}
