<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gym Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    
</head>

<body>

<header>
    <h1>Welcome, <span id="username">Aditya</span></h1>
</header>

<main>

    <div class="card" id="mydetails">
        <h2>My Details</h2>
        <p>Name: <span id="name">---</span></p>
        <p>Plan: <span id="plan">---</span></p>
        <p>Trainer: <span id="trainer">---</span></p>
        <button id="editBtn">Edit Profile</button>
    </div>

    <div class="card" id="workoutPlan">
        <h2>Workout Plan</h2>
        <div id="workout"></div>
        <button id="planBtn">View Full Plan</button>
    </div>

    <div class="card" id="attendance">
        <h2>Attendance</h2>
        <p id="days">---</p>
        <button id="attendanceBtn">View Attendance</button>
    </div>

    <div class="card" id="payments">
        <h2>Payments</h2>
        <div id="paymentList">
            <p id="paymentStatus">No Payments yet</p>
        </div>
        <button id="paymentBtn">View History</button>
    </div>

</main>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>